version: "3.9"

services:

  mysql:
    image: mysql:8.0
    container_name: payment-mysql
    restart: always
    environment:
      MYSQL_DATABASE: paymentdb
      MYSQL_USER: paymentuser
      MYSQL_PASSWORD: paymentpass
      MYSQL_ROOT_PASSWORD: rootpass
    ports:
      - "3308:3306"
    volumes:
      - mysql-data:/var/lib/mysql

  payment-service:
    build: .
    container_name: payment-service
    depends_on:
      - mysql
    ports:
      - "8081:8080"
    environment:
      SPRING_PROFILES_ACTIVE: docker
    restart: always

volumes:
  mysql-data:
